[Unit]
Description=Avahi Publish Server
After=network.target avahi-daemon.socket

[Service]
#Type=notify
Type=idle
ExecStart=/usr/local/bin/node /usr/local/sbin/avahi-publish.js
TimeoutStartSec=3
#Restart=always
Restart=on-failure

[Install]
WantedBy=multi-user.target

