[Unit]
Description=Avahi Publish Server
After=network.target avahi-daemon.socket

[Service]
Type=notify
ExecStart=/bin/node /usr/local/sbin/avahi-publish.js
TimeoutStartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
